<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G5033</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>org.vanilla.driver.CPUFriendDataProvider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUFriendDataProvider</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10G8</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18G74</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1030</string>
	<key>DTXcodeBuild</key>
	<string>10G8</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CPUFriendDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQ
			TElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFRE
			cy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9u
			PSIxLjAiPgo8ZGljdD4KCTxrZXk+SU9QbGF0Zm9ybVBvd2VyUHJv
			ZmlsZTwva2V5PgoJPGRpY3Q+CgkJPGtleT5BdXRvUG93ZXJPZmY8
			L2tleT4KCQk8dHJ1ZS8+CgkJPGtleT5DUFVGbG9vcjwva2V5PgoJ
			CTxpbnRlZ2VyPjgwMDwvaW50ZWdlcj4KCQk8a2V5PkRORFdoaWxl
			RGlzcGxheVNsZWVwczwva2V5PgoJCTxmYWxzZS8+CgkJPGtleT5E
			YXJrV2FrZVNlcnZpY2VzPC9rZXk+CgkJPGRpY3Q+CgkJCTxrZXk+
			RGFya1dha2VCYWNrZ3JvdW5kVGFza3M8L2tleT4KCQkJPGludGVn
			ZXI+MTwvaW50ZWdlcj4KCQkJPGtleT5TbGVlcFNlcnZpY2VzPC9r
			ZXk+CgkJCTxpbnRlZ2VyPjc8L2ludGVnZXI+CgkJCTxrZXk+U2xl
			ZXBTZXJ2aWNlc01vZGVzPC9rZXk+CgkJCTxkaWN0PgoJCQkJPGtl
			eT5Nb2RlQTwva2V5PgoJCQkJPGRpY3Q+CgkJCQkJPGtleT5CYXNl
			SW50ZXJ2YWxzPC9rZXk+CgkJCQkJPGRpY3Q+CgkJCQkJCTxrZXk+
			QUM8L2tleT4KCQkJCQkJPGRpY3Q+CgkJCQkJCQk8a2V5PkJhc2VT
			bGVlcEludGVydmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4zNjAw
			PC9pbnRlZ2VyPgoJCQkJCQkJPGtleT5CYXNlV2FrZUNhcEludGVy
			dmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj44NjQwMDwvaW50ZWdl
			cj4KCQkJCQkJPC9kaWN0PgoJCQkJCQk8a2V5PkJhdHRlcnk8L2tl
			eT4KCQkJCQkJPGRpY3Q+CgkJCQkJCQk8a2V5PkJhc2VTbGVlcElu
			dGVydmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4zNjAwPC9pbnRl
			Z2VyPgoJCQkJCQkJPGtleT5CYXNlV2FrZUNhcEludGVydmFsPC9r
			ZXk+CgkJCQkJCQk8aW50ZWdlcj4xODA8L2ludGVnZXI+CgkJCQkJ
			CTwvZGljdD4KCQkJCQk8L2RpY3Q+CgkJCQkJPGtleT5CYXR0ZXJ5
			Rmxvb3I8L2tleT4KCQkJCQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoJ
			CQkJCTxrZXk+RXhwaXJhdGlvbjwva2V5PgoJCQkJCTxpbnRlZ2Vy
			PjA8L2ludGVnZXI+CgkJCQk8L2RpY3Q+CgkJCTwvZGljdD4KCQk8
			L2RpY3Q+CgkJPGtleT5FclBEZWxheTwva2V5PgoJCTxpbnRlZ2Vy
			PjI4ODAwPC9pbnRlZ2VyPgoJCTxrZXk+RnJlcXVlbmN5VmVjdG9y
			czwva2V5PgoJCTxhcnJheT4KCQkJPGRhdGE+CgkJCUFnQUFBQVVB
			QUFBQkFBQUFBQUFBQUx3Q0FBQUFBQUFBR1FBQUFBQUFBQUFBWlAv
			Ly8vLy8KCQkJL3c4QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQURJQUFBQUNBQUFBQUFBQQoJCQlB
			RWdOQUFBQUFBQUF5QUFBQUFBQUFBQUJaT2dEQUFBQUFBQUFBVXZR
			QndBQUFBQUFBQUV5CgkJCXVBc0FBQUFBQUFBQkdhQVBBQUFBQUFB
			QUFRRC8vLy8vLy84UEFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBR1FBQUFBQ0FBQUFBQUFBQUdRWkFBQUFBQUFBeUFBQUFB
			QUEKCQkJQUFBQ1pPZ0RBQUFBQUFBQUFrdlFCd0FBQUFBQUFBSXl1
			QXNBQUFBQUFBQUJNcUFQQUFBQQoJCQlBQUFBQVJuLy8vLy8vLzhQ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQURJQQoJCQlBQUFE
			QUFBQUFBQUFBS0FQQUFBQUFBQUF5QUFBQUFBQUFBQURaUFFCQUFB
			QUFBQUFBekxvCgkJCUF3QUFBQUFBQUFNWjBBY0FBQUFBQUFBQ01y
			Z0xBQUFBQUFBQUFUS2dEd0FBQUFBQUFBRVoKCQkJLy8vLy8vLy9E
			d0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBR1FBQUFBREFBQUFBQUFBQUtDR0FRQUEK
			CQkJQUFBQUxBRUFBQUFBQUFBRVpQUUJBQUFBQUFBQUEwdm9Bd0FB
			QUFBQUFBTXkwQWNBQUFBQQoJCQlBQUFEQUxnTEFBQUFBQUFBQWpL
			Z0R3QUFBQUFBQUFJQS8vLy8vLy8vRHdBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEvLy8vLy8vL0R3
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBRUpC
			UTB0SFVrOVYKCQkJVGtRQUFBQUFBQUFBQVdRQVpBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFV
			a1ZCCgkJCVRGUkpUVVZmVTBoUFVsUUFBQUlFQUFBQUFCa0FHUUJr
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUJMUlZKT1JVd0FBQUFBQUFBQUFBQUFBQVJrQUdRQVpBQ1dB
			TWdBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBRlJJVWxWZlZFbEZValFBQUFBQUFBQUFBMlFBbGdESUFN
			Z0FBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFWRWhTVlY5VVNVVlNOUUFBQUFBQUFBQUN5QURJQU1n
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFkWFJwYkds
			MAoJCQllUzEwYkhac0FBQUFBQUFBQUFBK0FBQUFBQUFBQUFBQUFB
			QUFBQUFBYm05dUxXWnZZMkZzCgkJCUxYUnNkbXdBQUFBQUFBRDZB
			QUFBQUFBQUFBQUFBQUFBQUFBQWRXSndZd0FBQUFBQUFBQUEKCQkJ
			QUFBQUFBRUFBQUJ2Wm1ZQUFBQUFBQUFBQUFBQUFBQUFjR1Z5Wmkx
			aWFXRnpBQUFBQUFBQQoJCQlBQUFBQUFBRkFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJPC9kYXRhPgoJCTwvYXJyYXk+CgkJPGtleT5JT1BsYXRm
			b3JtU3lzdGVtU2xlZXBQb2xpY3k8L2tleT4KCQk8ZGF0YT4KCQlV
			MHhRVkFJQUV3Q0VIaElBQkFBQUFBQVVBQUFBQkFBQUJnQUFBQUFB
			QUFBUEpRQUFBQUFBQUFBQVFBQUEKCQlBRUFBQUFBUUFBQUFFQUFI
			QUFBQUFBQUFBQThsQUFBQUFBQUFoQjRTQUFRQUFBQUFHQUFBQUFn
			QUFBVUEKCQlBQUFBQUFBQUR5VUFBQUFBQUFDRUhoSUFCQUFBQUFn
			UUFBQUlBQUFBQlFBQUFBQUFBQUFQSlFBQUFBQUEKCQlBQ0FBQUFB
			Z0FBQUFBQUFBQUFBQUFBQUZBQUFBQUFBQUFBOGxBQUFBQUFBQUNB
			QUFBQWdBQUFBQUFBQUEKCQlBQUFBQUFZQUFBQUFBQUFBQUFFQUFB
			RUFBQUFBQUFRQUFBQUVBQUFBQUFBQUFBQUFCUUFBQUFBQUFBQVAK
			CQlKUUFBQUFBQUFBQUFBUUFBQUFFQUFBQUFBQUFBQUFBR0FBQUFB
			QUFBQUFBQkFBQUFBQUFBeEJZQUFBQUEKCQlBQUFJQUFBQUNBQUFB
			QVVBQUFBQUFBQUFEeVVBQUFBQUFBREVGaEFBQUFBUUFDQkFBQUFn
			UUFBQUJ3QUEKCQlBQWdBQUFBUFBRQUFBQUFBQU1RV0FBQUFBQUFB
			SUFBQUFDQUFBQUFGQUFBQUFBQUFBQThsQUFBQUFBQUEKCQkxQllB
			QUJBQUFBQUFBQUFBQUFBQUFBVUFBQUFBQUFBQUR5VUFBQUFBQUFE
			RUhoSUFSQUFBQUFZUUFBQUcKCQlBQUFBQndBQUFBSUFBQUFQUFFB
			QUFBQUFBSVFlRWdBRUFBQUFBQkFBQUFBQUFBQUhBQUFBQWdBQUFB
			ODkKCQlBQUFBQUFBQXhCWUFBQUFBQUFBQXdBQUFBTUFBQUFjQUFB
			QUlBQUFBRHowQUFBQUFBQURFRmdBQUFBQUEKCQlBQWlBQUFBSWdB
			QUFCUUFBQUFBQUFBQVBKUUFBQUFBQUFNUVdBQUFBQUFBQUFBQUFB
			QUFBQUFBSEFBQUEKCQlBUUFBQUE4OUFBQUFBQUFBUUFBQUFFQUFB
			QUFHQUFBQUJnQUFBQWNBQUFBQUFBQUFEelVBQUFBQUFBQUEKCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUJ3QUFBQUFBQUFBUE5RQUFBQUFB
			QUE9PQoJCTwvZGF0YT4KCQk8a2V5Pk5ldHdvcmtUaW1lckRlbGF5
			PC9rZXk+CgkJPGludGVnZXI+OTAwPC9pbnRlZ2VyPgoJCTxrZXk+
			Tm90aWZpY2F0aW9uV2FrZTwva2V5PgoJCTx0cnVlLz4KCQk8a2V5
			PlB1Ymxpc2hCYXR0ZXJ5RmFjdG9yczwva2V5PgoJCTx0cnVlLz4K
			CQk8a2V5PlN0YW5kYnlCYXR0ZXJ5VGhyZXNob2xkPC9rZXk+CgkJ
			PGludGVnZXI+NTA8L2ludGVnZXI+CgkJPGtleT5TdGFuZGJ5RGVs
			YXk8L2tleT4KCQk8aW50ZWdlcj4xMDgwMDwvaW50ZWdlcj4KCQk8
			a2V5PlN0YW5kYnlEZWxheUhpZ2g8L2tleT4KCQk8aW50ZWdlcj44
			NjQwMDwvaW50ZWdlcj4KCQk8a2V5PlRDUEtlZXBBbGl2ZUR1cmlu
			Z1NsZWVwPC9rZXk+CgkJPHRydWUvPgoJCTxrZXk+VENQS2VlcEFs
			aXZlRXhwaXJhdGlvblRpbWVvdXQ8L2tleT4KCQk8aW50ZWdlcj40
			MzIwMDwvaW50ZWdlcj4KCQk8a2V5PlRoZXJtYWxDb25maWd1cmF0
			aW9uPC9rZXk+CgkJPGRpY3Q+CgkJCTxrZXk+RG9tYWluPC9rZXk+
			CgkJCTxkaWN0PgoJCQkJPGtleT5DUFU8L2tleT4KCQkJCTxkaWN0
			PgoJCQkJCTxrZXk+UU9TVGhlcm1hbFRocmVzaG9sZHM8L2tleT4K
			CQkJCQk8ZGljdD4KCQkJCQkJPGtleT5Ob25Gb2NhbDwva2V5PgoJ
			CQkJCQk8aW50ZWdlcj4yNTE8L2ludGVnZXI+CgkJCQkJCTxrZXk+
			VXRpbGl0eTwva2V5PgoJCQkJCQk8aW50ZWdlcj42NDwvaW50ZWdl
			cj4KCQkJCQk8L2RpY3Q+CgkJCQkJPGtleT5TRklBcHBOYXA8L2tl
			eT4KCQkJCQk8ZGljdD4KCQkJCQkJPGtleT5FZmZvcnRDdXJ2ZTwv
			a2V5PgoJCQkJCQk8c3RyaW5nPjQwPTAlLDcyPTY3JTwvc3RyaW5n
			PgoJCQkJCTwvZGljdD4KCQkJCQk8a2V5PlNGSURhcndpbkJHPC9r
			ZXk+CgkJCQkJPGRpY3Q+CgkJCQkJCTxrZXk+RWZmb3J0Q3VydmU8
			L2tleT4KCQkJCQkJPHN0cmluZz40MD0wJSw2ND01MCUsNzI9Njcl
			PC9zdHJpbmc+CgkJCQkJPC9kaWN0PgoJCQkJCTxrZXk+U0ZJTWFp
			bnRlbmFuY2U8L2tleT4KCQkJCQk8ZGljdD4KCQkJCQkJPGtleT5F
			ZmZvcnRDdXJ2ZTwva2V5PgoJCQkJCQk8c3RyaW5nPjQwPTAlLDY0
			PTUwJSw3Mj02NyU8L3N0cmluZz4KCQkJCQk8L2RpY3Q+CgkJCQkJ
			PGtleT5TRklXaW5kb3c8L2tleT4KCQkJCQk8aW50ZWdlcj41MDAw
			MDwvaW50ZWdlcj4KCQkJCQk8a2V5PlRoZXJtYWxQcmVzc3VyZTwv
			a2V5PgoJCQkJCTxkaWN0PgoJCQkJCQk8a2V5PkhlYXZ5PC9rZXk+
			CgkJCQkJCTxkaWN0PgoJCQkJCQkJPGtleT5IaWdoVGhyZXNob2xk
			PC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4yMDA8L2ludGVnZXI+CgkJ
			CQkJCQk8a2V5Pkxvd1RocmVzaG9sZDwva2V5PgoJCQkJCQkJPGlu
			dGVnZXI+OTA8L2ludGVnZXI+CgkJCQkJCTwvZGljdD4KCQkJCQkJ
			PGtleT5Nb2RlcmF0ZTwva2V5PgoJCQkJCQk8ZGljdD4KCQkJCQkJ
			CTxrZXk+SGlnaFRocmVzaG9sZDwva2V5PgoJCQkJCQkJPGludGVn
			ZXI+MTAwPC9pbnRlZ2VyPgoJCQkJCQkJPGtleT5Mb3dUaHJlc2hv
			bGQ8L2tleT4KCQkJCQkJCTxpbnRlZ2VyPjUwPC9pbnRlZ2VyPgoJ
			CQkJCQk8L2RpY3Q+CgkJCQkJCTxrZXk+Tm9taW5hbDwva2V5PgoJ
			CQkJCQk8ZGljdD4KCQkJCQkJCTxrZXk+SGlnaFRocmVzaG9sZDwv
			a2V5PgoJCQkJCQkJPGludGVnZXI+NjI8L2ludGVnZXI+CgkJCQkJ
			CQk8a2V5Pkxvd1RocmVzaG9sZDwva2V5PgoJCQkJCQkJPGludGVn
			ZXI+MDwvaW50ZWdlcj4KCQkJCQkJPC9kaWN0PgoJCQkJCQk8a2V5
			PlNsZWVwaW5nPC9rZXk+CgkJCQkJCTxkaWN0PgoJCQkJCQkJPGtl
			eT5IaWdoVGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4y
			NTI8L2ludGVnZXI+CgkJCQkJCQk8a2V5Pkxvd1RocmVzaG9sZDwv
			a2V5PgoJCQkJCQkJPGludGVnZXI+MjUxPC9pbnRlZ2VyPgoJCQkJ
			CQk8L2RpY3Q+CgkJCQkJCTxrZXk+VHJhcHBpbmc8L2tleT4KCQkJ
			CQkJPGRpY3Q+CgkJCQkJCQk8a2V5PkhpZ2hUaHJlc2hvbGQ8L2tl
			eT4KCQkJCQkJCTxpbnRlZ2VyPjI1MDwvaW50ZWdlcj4KCQkJCQkJ
			CTxrZXk+TG93VGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdl
			cj4xNzA8L2ludGVnZXI+CgkJCQkJCTwvZGljdD4KCQkJCQk8L2Rp
			Y3Q+CgkJCQk8L2RpY3Q+CgkJCQk8a2V5PkdQVTwva2V5PgoJCQkJ
			PGRpY3QvPgoJCQkJPGtleT5JTzwva2V5PgoJCQkJPGRpY3QvPgoJ
			CQk8L2RpY3Q+CgkJPC9kaWN0PgoJCTxrZXk+VW5pZmllZFNsZWVw
			U2xpZGVyUHJlZjwva2V5PgoJCTx0cnVlLz4KCTwvZGljdD4KCTxr
			ZXk+cG1zcEZpbGU8L2tleT4KCTxpbnRlZ2VyPjY8L2ludGVnZXI+
			CjwvZGljdD4KPC9wbGlzdD4K
			</data>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 - 2019 PMheart. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
