<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#Comment</key>
	<string>This file is for ASUS Broadwell notebook that are natively supported</string>
	<key>ACPI</key>
	<dict>
		<key>#Sorted ACPI tables Count</key>
		<integer>8</integer>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>#Patches count</key>
			<integer>7</integer>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>#Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>AddDTGP</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<true/>
				<key>FakeLPC</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixIDE</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixRegions</key>
				<true/>
				<key>FixS3D</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>PNLF_UID?</key>
			<string>0x0F</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Change OSID to XSID</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					T1NJRA==
					</data>
					<key>Replace</key>
					<data>
					WFNJRA==
					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TgtBridge</key>
					<data>
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _OSI to XOSI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TgtBridge</key>
					<data>
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _DSM to XDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TgtBridge</key>
					<data>
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change EC0 to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TgtBridge</key>
					<data>
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TgtBridge</key>
					<data>
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TgtBridge</key>
					<data>
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
					<key>Skip</key>
					<integer>0</integer>
					<key>TgtBridge</key>
					<data>
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<false/>
			<key>SuspendOverride</key>
			<false/>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>#Length</key>
				<integer>1337</integer>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>PatchAPIC</key>
		<false/>
		<key>RenameDevices</key>
		<dict>
			<key>#_SB.PCI0.RP03.PXSX</key>
			<string>GIGE</string>
			<key>#_SB.PCI0.RP04.PXSX</key>
			<string>ARPT</string>
		</dict>
		<key>ResetAddress</key>
		<string>0x0CF9</string>
		<key>ResetValue</key>
		<string>0x0006</string>
		<key>SSDT</key>
		<dict>
			<key>C3Latency?</key>
			<string>0x00FA</string>
			<key>DoubleFirstState</key>
			<false/>
			<key>DropOem?</key>
			<false/>
			<key>EnableC2</key>
			<false/>
			<key>EnableC4</key>
			<false/>
			<key>EnableC6</key>
			<true/>
			<key>EnableC7</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>MaxMultiplier?</key>
			<integer>0</integer>
			<key>MinMultiplier?</key>
			<integer>0</integer>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<false/>
			<key>PLimitDict?</key>
			<integer>0</integer>
			<key>UnderVoltStep?</key>
			<integer>0</integer>
			<key>UseSystemIO?</key>
			<false/>
		</dict>
		<key>SortedOrder</key>
		<array/>
		<key>smartUPS</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-no_compat_check amfi_get_out_of_my_way=1 -allow_sidecar_ipad</string>
		<key>CustomLogo</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>BOOTX64.efi</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Fast</key>
		<false/>
		<key>HibernationFixup</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>LegacyBiosDefaultEntry?</key>
		<integer>0</integer>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>RtcHibernateAware</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<true/>
		<key>StrictHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>10</integer>
		<key>XMPDetection</key>
		<string>-1</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>DefaultBackgroundColor?</key>
		<string>0x80000000</string>
		<key>EFILoginHiDPI</key>
		<integer>0</integer>
		<key>UIScale</key>
		<integer>1</integer>
		<key>flagstate</key>
		<integer>0</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>BusSpeedkHz?</key>
		<integer>99769</integer>
		<key>EnabledCores?</key>
		<integer>2</integer>
		<key>FrequencyMHz?</key>
		<integer>2195</integer>
		<key>QPI?</key>
		<integer>0</integer>
		<key>SavingMode?</key>
		<integer>255</integer>
		<key>TDP?</key>
		<integer>15</integer>
		<key>TurboDisable?</key>
		<true/>
		<key>Type</key>
		<string>0x0606</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<string>Detect</string>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>DisableFunctions?</key>
		<string></string>
		<key>FakeID</key>
		<dict>
			<key>#Broadwell-Comment</key>
			<string>To avoid automatic Clover fake device-id (Broadwell) injection</string>
			<key>IMEI?</key>
			<string>0x9CBA8086</string>
			<key>IntelGFX?</key>
			<string>0x16168086</string>
			<key>LAN?</key>
			<string>0x816810EC</string>
			<key>SATA?</key>
			<string>0x9C838086</string>
			<key>WIFI?</key>
			<string>0x0036168C</string>
			<key>XHCI?</key>
			<string>0x9CB18086</string>
		</dict>
		<key>ForceHPET</key>
		<false/>
		<key>HDMIInjection</key>
		<false/>
		<key>IntelMaxValue?</key>
		<string></string>
		<key>LANInjection</key>
		<true/>
		<key>NoDefaultProperties</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x2)/Pci(0x0,0x0)</key>
			<dict>
				<key>built-in</key>
				<data>
				AQ==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>#AAPL00,override-no-connect</key>
				<data>
				AP///////wANrpMUAAAAACgXAQSVHxF4An5Fk1VTlCgj
				UFQAAAABAQEBAQEBAQEBAQEBAQEB2h1W4lAAIDBELUcA
				Na0QAAAYAAAA/gBOMTQwQkdFLUU0MwogAAAA/gBDTU4K
				ICAgICAgICAgAAAA/gBOMTQwQkdFLUU0MwogAJU=
				</data>
				<key>#AAPL00,override-no-edid</key>
				<data>
				</data>
				<key>#StartupDisplay</key>
				<data>
				R04CAAAAAAAACgAAQAYAACD8ABAAAAAAAAoAAEAGAACg
				AAAAAAAAAAAAAAAuAAAAAAAAAAAAAAAwAAAAIAAAAAMA
				AAAGAAAAAAAAAAAAAAAAAAABAAAAAAAAAACtCw3wAQAA
				AAAAAAAACgAAQAYAACD8ABAAAAAAAAoAAEAGAACgAAAA
				AAAAAAAAAAAuAAAAAAAAAAAAAAAwAAAAIAAAAAMAAAAG
				AAAAAAAAAAAAAAA=
				</data>
				<key>#saved-config</key>
				<data>
				RwAAAAAAAAAAAAAAAAAAAAAAAwACABYWAGwFcAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				</data>
				<key>#subsystem-id</key>
				<data>
				fRoAAA==
				</data>
				<key>#subsystem-vendor-id</key>
				<data>
				QxAAAA==
				</data>
				<key>AAPL,ig-platform-id</key>
				<data>
				AgAWFg==
				</data>
				<key>AAPL,ig-tcon-scaler</key>
				<data>
				AQAAAA==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>built-in</key>
				<data>
				AA==
				</data>
				<key>device-id</key>
				<data>
				FhYAAA==
				</data>
				<key>device_type</key>
				<string>VGA Compatible Controller</string>
				<key>disable-external-gpu</key>
				<data>
				AQAAAA==
				</data>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-camelia</key>
				<data>
				AgAAAA==
				</data>
				<key>framebuffer-con0-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con0-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>framebuffer-con1-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con1-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>framebuffer-con1-type</key>
				<data>
				AAgAAA==
				</data>
				<key>framebuffer-con2-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>framebuffer-con2-type</key>
				<data>
				AAgAAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-memorycount</key>
				<data>
				AwAAAA==
				</data>
				<key>framebuffer-mobile</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-pipecount</key>
				<data>
				AwAAAA==
				</data>
				<key>framebuffer-portcount</key>
				<data>
				AwAAAA==
				</data>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAA+g==
				</data>
				<key>graphic-options</key>
				<data>
				DAAAAA==
				</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>Intel HD Graphics 5500</string>
				<key>name</key>
				<string>Display</string>
				<key>vendor-id</key>
				<data>
				hoAAAA==
				</data>
			</dict>
		</dict>
		<key>SetIntelBacklight?</key>
		<false/>
		<key>SetIntelMaxBacklight?</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>EmuVariableUefi</string>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode?</key>
		<string></string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array/>
			<key>Legacy</key>
			<array/>
			<key>Tool</key>
			<array/>
		</dict>
		<key>CustomIcons</key>
		<false/>
		<key>EmbeddedThemeType?</key>
		<string>Dark</string>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
			<string>Windows</string>
		</array>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>en-US:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClickTime?</key>
			<integer>0</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed?</key>
			<integer>0</integer>
		</dict>
		<key>PlayAsync</key>
		<true/>
		<key>ProvideConsoleGop</key>
		<true/>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1366x768</string>
		<key>ShowOptimus</key>
		<false/>
		<key>TextOnly</key>
		<false/>
		<key>Theme</key>
		<string>Chamelia</string>
		<key>Timezone?</key>
		<integer>0</integer>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink?</key>
		<integer>10</integer>
		<key>EDID</key>
		<dict>
			<key>Custom?</key>
			<data>
			AA==
			</data>
			<key>HorizontalSyncPulseWidth?</key>
			<string></string>
			<key>Inject</key>
			<false/>
			<key>ProductID?</key>
			<string>0x1493</string>
			<key>VendorID?</key>
			<string>0x0dae</string>
			<key>VideoInputSignal?</key>
			<string></string>
		</dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios?</key>
		<false/>
		<key>NVCAP?</key>
		<string>04000000000003000c0000000000000700000000</string>
		<key>NvidiaGeneric?</key>
		<false/>
		<key>NvidiaNoEFI?</key>
		<false/>
		<key>NvidiaSingle?</key>
		<false/>
		<key>VRAM?</key>
		<integer>4000</integer>
		<key>VideoPorts?</key>
		<integer>0</integer>
		<key>display-cfg?</key>
		<string>03010300ffff0001</string>
		<key>ig-platform-id?</key>
		<string>0x16160002</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>#Broadwell-Comment</key>
		<string>Broadwell CPU supportable on 12.x.x and prior by using FakeCPUID</string>
		<key>#Number of KextsToPatch</key>
		<integer>2</integer>
		<key>#Number of Patchs To Kernel</key>
		<integer>1</integer>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>BootPatches</key>
		<array/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>EightApple</key>
		<false/>
		<key>FakeCPUID?</key>
		<string>0x0306D4</string>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>MaskFind</key>
				<data>
				</data>
				<key>MaskReplace</key>
				<data>
				</data>
				<key>MaskStart</key>
				<data>
				</data>
				<key>MatchOS</key>
				<string>All</string>
				<key>Procedure</key>
				<string></string>
				<key>RangeFind</key>
				<integer>0</integer>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
				<key>StartPattern</key>
				<data>
				</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>ALPM IO Error AppleAHCIPort</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				QGACAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MaskFind</key>
				<data>
				</data>
				<key>MaskReplace</key>
				<data>
				</data>
				<key>MatchOS</key>
				<string>All</string>
				<key>Name</key>
				<string>com.apple.driver.AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix freeze some HDD</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				pZAAAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MaskFind</key>
				<data>
				</data>
				<key>MaskReplace</key>
				<data>
				</data>
				<key>MatchOS</key>
				<string>All</string>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				kJCQkA==
				</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>DisableIoMapper</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ExtendBTFeatureFlags</key>
		<false/>
		<key>ExternalDiskIcons</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ForceOcWriteFlash</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>4275159040</integer>
				<key>Comment</key>
				<string>Haswell: SB_RCBA is a 0x4 page memory region, containing SPI_BASE at 0x3800 (SPI_BASE_ADDRESS)</string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4278190080</integer>
				<key>Comment</key>
				<string>Generic: PCI root is a 0x1000 page memory region used by some firmwares</string>
				<key>Enabled</key>
				<false/>
			</dict>
		</array>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>ProvideCurrentCpuInfo</key>
		<false/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>ResizeAppleGpuBars</key>
		<integer>-1</integer>
		<key>SetupVirtualMap</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<false/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>Block</key>
		<array/>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>HWTarget?</key>
		<string></string>
		<key>MLB</key>
		<string></string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>03/16/2022</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP121.88Z.F000.B00.2203161445</string>
		<key>Board-ID</key>
		<string>Mac-E43C1C25D4880AD6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string></string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>430.120.6.0.0</string>
		<key>ExtendedFirmwareFeatures</key>
		<string>0x00000008FD0FF576</string>
		<key>ExtendedFirmwareFeaturesMask</key>
		<string>0x00000008FF1FFF7F</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFD0FF576</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF7F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>Modules</key>
			<array/>
		</dict>
		<key>MemoryRank?</key>
		<integer>2</integer>
		<key>Mobile</key>
		<true/>
		<key>NoRomInfo?</key>
		<true/>
		<key>OEMBoard?</key>
		<string>X455LF</string>
		<key>OEMProduct?</key>
		<string>X455LF</string>
		<key>OEMVendor?</key>
		<string>ASUSTeK COMPUTER INC.</string>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro12,1</string>
		<key>SerialNumber</key>
		<string></string>
		<key>Slots</key>
		<array/>
		<key>SmUUID</key>
		<string></string>
		<key>SmbiosVersion?</key>
		<string></string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>BacklightLevel?</key>
		<string></string>
		<key>CustomUUID?</key>
		<string>DC31D7E0-351A-EA58-B1B4-4CFC314AA1E6</string>
		<key>InjectKexts</key>
		<true/>
		<key>InjectSystemID</key>
		<true/>
		<key>NoCaches</key>
		<false/>
		<key>NvidiaWeb?</key>
		<false/>
	</dict>
</dict>
</plist>
